@font-face {
	font-family: "HouschkaExtraBold";
	src: url("assets/fonts/houschkaaltpro-extrabold-web.woff") format("woff");
}

@font-face {
	font-family: "HouschkaBold";
	src: url("assets/fonts/houschkaaltpro-bold-web.woff") format("woff");
}

@font-face {
	font-family: "HouschkaMedium";
	src: url("assets/fonts/houschkaaltpro-medium-web.woff") format("woff");
}

.medium {
	font-family: "HouschkaMedium";
}

.bold {
	font-family: "HouschkaBold";
}

.extrabold {
	font-family: "HouschkaExtraBold";
}

.system {
	font-family:
		/* 1 */ -apple-system, BlinkMacSystemFont,
		/* 2 */ "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		/* 3 */ "Helvetica Neue", sans-serif;
}

body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size($f4);
	line-height: $font__line-height-body;
}

@import "headings";

@import "copy";