.menu-item a {
	text-decoration: none;
	transition:color .15s ease-in;
	color: white;
	padding: 0.5rem 1rem;
	display: inline-block;
	font-size: 1.5rem;
	font-family:
		/* 1 */ -apple-system, BlinkMacSystemFont,
		/* 2 */ "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		/* 3 */ "Helvetica Neue", sans-serif;
}

.mw8-5 {
	max-width: 80rem;
}

.w1-5 {
	width: 1.5rem;
}

.h1-5 {
	height: 1.5rem;
}

.search-form {
	height:auto;
	transition:height 0.2s ease-out;
	background-color: #F7F6F4;
}

.search-field, .search-button {
	background-color: darken(#F7F6F4, 10%);
}