$color__background-body: #fafafa;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #414141;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__wola-blue: #D5D0CA;
$color__wola-gray: #404041;
$color__wola-light-gray: #D5D0CA;

.wola-blue { color: #D5D0CA; }
.bg-wola-blue { background-color: #D5D0CA; }
.b--wola-blue { border-color: #D5D0CA; }

.hover-wola-blue:hover,
.hover-wola-blue:focus { color: #D5D0CA; }

.hover-bg-wola-blue:hover,
.hover-bg-wola-blue:focus { background-color: #D5D0CA; }

.wola-gray { color: #404041; }
.bg-wola-gray { background-color: #404041; }
.b--wola-gray { border-color: #404041; }

.hover-wola-gray:hover,
.hover-wola-gray:focus { color: #404041; }

.hover-bg-wola-gray:hover,
.hover-bg-wola-gray:focus { background-color: #404041; }

.wola-light-gray { color: #D5D0CA; }
.bg-wola-light-gray { background-color: #D5D0CA; }
.b--wola-light-gray { border-color: #D5D0CA; }

.hover-wola-light-gray:hover,
.hover-wola-light-gray:focus { color: #D5D0CA; }

.hover-bg-wola-light-gray:hover,
.hover-bg-wola-light-gray:focus { background-color: #D5D0CA; }