$font__main: "HouschkaMedium", 'avenir next', avenir, sans-serif;
$font__heading: "HouschkaBold", 'avenir next', avenir, sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

// Type Scale

$f1: 3;
$f2: 2.25;
$f3: 1.5;
$f4: 1.25;
$f5: 1;
$f6: .825;